div.messageContainer {
    width: 600px;
    height: 400px;
    overflow: scroll;
    background-color: #0f5132;
    display: flex;
    flex-direction: column-reverse;
}

p.textAlignRight {
    text-align: right;
}