@page "/"
@using RelayMessenger.Client.Components.Views
@rendermode InteractiveAuto

<PageTitle>Relay Messenger</PageTitle>

<div>
    <b>Relay Messenger (<i>@(OperatingSystem.IsBrowser() ? "Wasm" : "Server")</i>)</b>
</div>

@if (!OperatingSystem.IsBrowser())
{
    <h2>Loading...</h2>
}
else
{
    <Messenger />
}
